#scene{
    -fx-background-image: url("pokemon.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#button{
    -fx-background-color: #0D2B4D;
    /*-fx-text-fill: #84D0F0;*/
    -fx-text-fill: #FFF;
    -fx-opacity: 70%;
    -fx-font-family: consolas;
    -fx-letter-spacing: 4px;
    -fx-transition: 0.2s;
    -fx-font-size: 20px;
}

#button:hover{
    -fx-opacity: 50%;
    -fx-transition-delay: 1s;
}

#label{
    /*-fx-padding: 0px;
    -fx-background-color: #0D2B4D;*/
    -fx-text-fill: #0D2B4D;
    -fx-font-size: 20px;
    -fx-font-family: consolas;
    -fx-letter-spacing: 4px;
    -fx-font-weight: 900;
    -fx-padding-top: 20px;
}